:root {
--color-default: #e40000;
--color-support: #3ba4d7;
--color-support1: #126466;
--color-default-lite: #ffa1a1;
--color-white: #ffffff;
--color-ev4gh-gray: #dcdcdc;
--text-font: "Helvetica", Roboto;
}

/* Font and text */
:root {
--card-title-default: 22px;
--card-text-default: 18px;
}


a{
text-decoration: none !important;
}

/* -----------------------
Color
-------------------------- */

.ev4gh-bg-1 {
background: #e40000;
}

/* -----------------------
Title / Text / Paragraph / Font
-------------------------- */

h3.ev4gh-section-title{
font-size: 1.8em;
font-weight: 600;
display: block;
line-height: 120%;
color: var(--color-default);
font-family: 'nerissemibold';
margin-bottom: 20px;
}

p.ev4gh-section-text-para{
font-family: var(--text-font);
font-size: 18px !important;
font-weight: 300;
line-height: 30px;
color: #6a6f78;


}

/* ------------------------------
Section Heading Title - Style 1
------------------------------- */

.ev4gh-section .ev4gh-text-card{
display: block;
width: 800px;
max-width: 800px;
margin-left: auto;
padding: 60px;
height: 100%;
}
.ev4gh-section .ev4gh-text-card.right{
display: block;
width: 800px;
max-width: 800px;
margin-right: auto !important;
margin-left: 0 !important;
padding: 60px;
height: 100%;
}


.ev4gh-img-card {
height: 100%;
}
.ev4gh-img-card img{
width: 100%;
height: 100%;
object-fit: cover;
}

/* ------------------------------
Section Heading Title - Style 1
------------------------------- */

.section-heading h1 {
position: relative;
padding: 0;
margin: 0;
font-family: "Raleway", sans-serif;
font-weight: 900;
font-size: 40px;
color: #000;
-webkit-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
text-align: center;
text-transform: uppercase;
padding-bottom: 5px;

}

.section-heading h1:before {
width: 28px;
height: 5px;
display: block;
content: "";
position: absolute;
bottom: 3px;
left: 50%;
margin-left: -14px;
background-color: var(--color-default);
}
.section-heading h1:after {
width: 100px;
height: 1px;
display: block;
content: "";
position: relative;
margin-top: 20px;
left: 50%;
margin-left: -50px;
background-color: var(--color-default);
}


.section-heading h1>span {
font-weight: 900;
-webkit-text-stroke: 1px var(--color-default);
-webkit-text-fill-color: transparent;
color: transparent
}


/* ------------------------------
Card
------------------------------- */

.card .card-body{
padding: 30px
}

.card .card-title{
margin-bottom: 20px
}

.card .card-text{
margin-bottom: 20px;
line-height: 1.6;
}

/* ------------------------------
Video Card
------------------------------- */

.ev4gh-video-card{
padding: 60px;
margin-bottom: 30px;
}


/* btn */

.ev-btn-1{
background: var(--color-default) !important;
color: #fff !important;
border-radius: 50px !important;
padding: 10px 20px !important;
border: 1px solid var(--color-default) !important;
margin-bottom: 30px;
margin-top: 30px;
}

.ev-btn-1:hover{
background: #ffff !important;
border: 1px solid var(--color-default) !important;
color: var(--color-default) !important;
}
